@{
    ViewData["Title"] = "Dream Connect";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<img src="~/images/Picture.jpg" /> <p>As long as the sky stands and the moon shines bright Dream Connect will be here to treat you right </p>
